.top-s {
    top: 0;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid white;
    height: 50%;
    background-color: #c09010 !important;
    animation: endToTop 1.25s ease-out forwards;
    -webkit-animation: endToTop 1.25s ease-out forwards;
    z-index: 9999;
}

.bottom-s {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 50%;
    border-top: 1px solid white;
    background-color: #c09010 !important;
    animation: endToBottom 1.25s ease-out forwards;
    -webkit-animation: endToBottom 1.25s ease-out forwards;
    z-index: 9999;
}

@keyframes endToBottom {
    from {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    to {
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
}

@keyframes endToTop {
    from {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
}
}


#Home>div>div>div>h1 {
    opacity: 0;
    animation: showFromLeft 1.25s ease-out forwards .2s;
    -webkit-animation: showFromLeft 1.25s ease-out forwards .2s;
}

#Home>div>div>div>h2 {
    opacity: 0;
    animation: showFromRight 1s ease-out forwards .5s;
    -webkit-animation: showFromRight 1s ease-out forwards .5s;
}

@keyframes showFromLeft {
    0% {
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes showFromRight {
    0% {
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        opacity: 1;
    }
}