<footer id="footer">
    <a href="">Privacy Policy</a>
    <span>&#8226;</span>
    <a href="">Terms of Service</a>
    <span>&#8226;</span>
    <a href="">Documentation</a>
    <span>&#8226;</span>
    <a href="">Careers</a>
    <div>
        <a href="https://github.com/RAPLI-DEV" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://wa.me/082143717599?text=I'm%20interested%20in%20your%20car%20for%20sale" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="https://www.linkedin.com/in/rapli-null-b03528356/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://stackoverflow.com/users/30313273/rplii-dev" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-stack-overflow"></i>
        </a>
    </div>
    <p>&copy; 2025 by RD Shop. All rights reserved. <br> RD SHOP is Powered by <a href="https://whole-main-doe.ngrok-free.app" target="_blank" rel="noopener noreferrer">whole-main-doe.ngrok-free.app</a>.</p>
</footer>