<header id="Header" class="normal-head">
    <div class="container">
        <nav id="navbar">
            <div class="logo">
                <a href=""><h1>RD Shop</h1></a>
            </div>
            <ul class="nav-links">
                <li class="link"><a href="#Home">Home</a></li>
                <li class="link"><a href="#About">About</a></li>
                <li class="link"><a href="#Features">Features</a></li>
                <li class="link"><a href="#Product">Product</a></li>
                <li class="link"><a href="#Contact">Contact</a></li>
            </ul>
        </nav>
        <ul class="nav-links-ex">
            <li class="link"><a href="https://"></a></li>
            <li class="link"><a href="https://"></a></li>
            <li class="link"><a href="https://"></a></li>
            <li class="link"><a href="https://"></a></li>
            <li class="link"><a href="https://"></a></li>
        </ul>
        <div id="hero">
            <i id="fullScreen" class="material-icons">fullscreen</i>
            <i id="fullScreenExit" class="material-icons">fullscreen_exit</i>
            <i id="settings" class="material-icons">settings</i>
            <i id="account_circle" class="material-icons">account_circle</i>
            <i id="menu" class="material-icons">menu</i>
            <!-- <p>Selamat Datang di Toko Online Kami! Temukan product terbaik dengan harga terjangkau</p> -->
        </div>
    </div>
</header>